body{width: 100%;}


/* 导航部分 */
nav .all-classify .list {display: none;}

/* 商品列表 */
.product {padding-bottom: 50px;overflow: hidden;}
.product .tt {color: #333;padding: 20px 0;}
.product .tt strong {font-size: 14px;}
.product .leftNav {width: 211px;float: left;}
.product .leftNav .top {border: 1px solid #ccc;margin-bottom: 14px;}
.product .leftNav .top .nt {height: 44px;text-align: center;background-color: #e9e9e9;font-family: 'microsoft YaHei';font:14px/44px "";}
.product .leftNav .fenlei-list {margin: 0 10px;}
.product .leftNav .fenlei-list li {height: 32px;line-height: 32px;border-bottom: 1px dotted #cfcfcf;padding: 0 20px;}
.product .rightCon{width: 971px;float: left;margin-left: 18px;}
.product .rightCon .orderBy {border: 1px solid #dedede;background-color: #e9e9e9;padding-top: 10px;padding-left: 15px;height: 34px;margin-bottom: 22px}
.product .rightCon .orderBy .selectB {position: relative;float: left;width: 152px;height: 24px;background-color: #ccc;padding: 1px;margin-right: 22px;}
.product .rightCon .orderBy .selectB input {width: 122px;border: none;color: #999;background-color: #fff;font-size: 12px;height: 24px;line-height: 24px;padding-left: 5px;}
.product .rightCon .orderBy .selectB a {width: 26px;height: 24px;background: url(../images/select_ico.png) 0 0 no-repeat;position: absolute;right: 0;top: 0;}
.product .rightCon .orderBy .selectB ul {width: 126px;position: absolute;top: 25px;left: 0;background-color: #fff;border: 1px solid #ccc;display: none;
z-index: 99;}
.product .rightCon .orderBy .selectB ul li {padding-left: 4px;line-height: 26px;cursor: pointer;color: #999;}
.product .rightCon .orderBy .fiveB {border: 1px solid #ccc;border-right: none;height: 24px;float: left;}
.product .rightCon .orderBy .fiveB li {float: left;padding: 0 12px;height: 24px;line-height: 24px;background-color: #fff;border-right: 1px solid #ccc;}
.product .rightCon .orderBy .fiveB li a {background: url(../images/arrow2_ico.png) 0 0 no-repeat;}
.product .rightCon .orderBy .fiveB li .up {padding-left: 16px;}
.product .rightCon .orderBy .fiveB li .down {padding-right: 16px;background-position: right -13px;}
.product .rightCon .orderBy .checkboxB,.product .rightCon .orderBy .lookWay {height: 26px;line-height: 26px;float: left;margin-left: 10px;}
.product .rightCon .orderBy .pageB {height: 24px;line-height: 24px;margin-left: 46px;float: left;}
.product .rightCon .orderBy .pageB a {width: 41px;height: 24px;float: left;
background: url(../images/pageB.png) 0 0 no-repeat;}
.product .rightCon .orderBy .pageB span {float: left;padding: 0 8px;}
.product .rightCon .orderBy .pageB .nextpage {background-position: -41px;}
.product .rightCon form{margin: 0;}
.product .rightCon form .proList{display: block;}
.rightCon .list li {padding: 25px 0;border-bottom: 1px solid #ccc;overflow: hidden;}
.rightCon .list .li-img {height: 185px;width: 190px;border: 1px solid #ccc;position: relative;padding: 30px 20px 30px 20px;}
.rightCon .list .li-img img{width: 186px;height: 186px;}
.icon1111 {display: none;position: absolute;width: 230px;height: 246px;margin-left: -231px;}
.rightCon .list .li-con {margin-left: 26px;width: 660px;}
.rightCon .list .li-con h2 a {color: #333;font-size: 14px;line-height: 34px;}
.rightCon .li-con dt div {overflow: hidden;line-height: 20px;margin-top: 3px;}
.rightCon #search_list .li-con dt div {margin-top: 4px;}
.rightCon .li-con dt div {line-height: 20px;}
.memberPrice{color: red;}
.rightCon .li-con .line_2 p {float: left;}
.review_d {margin: 0 8px;}
.review_d span {height: 17px;line-height: 17px;}
.review_d i {margin-right: 2px;display: inline-block;vertical-align: text-bottom;width: 13px;height: 12px;background: url(../images/star2.png);}
.rightCon .li-con .line_3 span {margin-right: 24px;}
.rightCon .li-con .line_4{overflow: hidden;height: 60px;}
.rightCon #search_list .li-con dd {margin-top: 20px;}
.rightCon .li-con dd a {width: 104px;height: 34px;line-height: 34px;padding-left: 30px;
border-radius: 3px;font-size: 14px;display: inline-block;text-align: center;}
.rightCon .li-con dd .b_1 {background: #e62129 url(../images/cart_ico.png) 17px center no-repeat;color: #fff!important;border: 1px solid #e62129;}
.rightCon .li-con dd .b_2 {background: #fff url(../images/shc_ico.png) 17px center no-repeat;color: #a3a3a3;border: 1px solid #a3a3a3;}

/* 返回顶层 */
.hm-t-go-top {position: fixed;right: 2px;bottom: 2px;z-index: 99998;cursor: pointer;width: 40px;
    height: 37px!important;text-align: center;white-space: normal;font-size: 14px;line-height: 17px;padding-top: 3px;color: #fff;background: url(../images/top.png) no-repeat -42px center #666;display: none;}
/* 基本介绍 */



/* 尾部 */
